.navbar-brand img {
    height: 90px;
}

.imagen-inicio {
    height: 200vh;
    background-image: url(../img/imagen.inicio.5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 200px;
}

.imagen-inicio h2 {
    color: $color-primario;
    background-color: $color-secundario;

}

.imagen-inicio p {
    color: $color-primario;
    text-align: center;
    background-color: $color-secundario;
}

.tarjetitas {
    display: flex;
    padding: 60px;
    gap: 30px
}

.tarjetita-1 {
    background-color: $bk-tarjeta1;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 380px;
}

.tarjetita-2 {
    background-color: $bk-tarjeta2;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 380px;
}

.tarjetita-3 {
    background-color: $bk-tarjeta3;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 380px;
}

.informacion {
    padding: 0 20px 20px 20px;
}

.tarjetita-boton {
    background-color: lightgrey;
    font-size: 15px;
    border-radius: 3px;
    text-decoration: none;
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        transform: scale(1.0);
        transition: all 0.9;
        box-shadow: 0 0 15 15 #383737;
    }
}

.tarjetita-imagen-1 {
    height: 525px;

}

.tarjetita-imagen-2 {
    height: 525px;
}

.tarjetita-imagen-3 {
    height: 525px;
}

.imagen-prod {
    height: 525px;
}

.imagen-prod {
    height: 525px;
}

.title {
    display: flex;
    justify-content: center;
}


.pie {
    color: $color-primario;
    text-align: center;
    padding-block: 30px;
    display: flex;
    justify-content: space-around;
}

.pie-ayuda {
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: 0;
    color: $color-primario;
    text-align: center;
    padding-block: 30px;
    display: flex;
    justify-content: space-around;
}



@media screen and (max-width: map-get(viewport, "sm")) {
    .tarjetitas {
        flex-direction: column;
    }

    .imagen-inicio p {
        justify-content: center;
        align-items: center;
        width: 90vh;
    }

    .imagen-inicio h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40vh;
    }

    .pie-ayuda {
        position: static;
        bottom: 0;
        margin-top: 30px;
    }

}